extends jade/page.jade

block name
  -name = "home"

block basePath
  -basePath = ""

block relativePath
  -relativePath = ""

block script
  script(type='text/javascript')
    | // onLoad entry point
    | $(document).ready(function() {
    |   var pageModel, pageView;
    | 
    |   mcc.data.initialize();
    | 
    |   pageModel = new mcc.PageModel({
    |     user: mcc.data.models.user,
    |     posts: mcc.data.models.posts
    |   });
    | 
    |   pageView = new mcc.PageView({model: pageModel});
    | 
    |   $('body').append(pageView.render().el);
    | });
