extends jade/page.jade

block name
  -name = "home"

block basePath
  -basePath = ""

block relativePath
  -relativePath = ""

block content
  #page-root
    h1 Home page
    p hello
  script
    | // onLoad entry point
    | $(document).ready(function() {
    |   var pageView = new mcc.PageView();
    |   pageView.render();
    |   $('#page-root').append(pageView.el);
    | });
