extends jade/page.jade

block name
  -name = "home"

block basePath
  -basePath = ""

block relativePath
  -relativePath = ""

block script
  script(type='text/javascript')
    | // onLoad entry point
    | $(document).ready(function() {
    |   var pageModel = new mcc.PageModel();
    |   var pageView = new mcc.PageView({model: pageModel});
    |   pageView.render();
    |   $('#page-root').append(pageView.el);
    | });

block content
  #page-root
