body {
  background-color: #eee;
  padding: 20px;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
a.underline {
  text-decoration: underline;
}
a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}
h1,
p {
  color: #444;
}
img {
  margin: 5px auto;
  display: block;
  max-width: 570px;
}
table {
  margin: 15px 0px;
}
th,
td {
  padding: 0 10px;
}
hr {
  border-top: 1px solid #bbb;
}
.text-highlight {
  color: #090;
}
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.w181 {
  width: 181px;
}
.w185 {
  width: 185px;
}
.w194 {
  width: 194px;
}
.w240 {
  width: 240px;
}
.w345 {
  width: 345px;
}
.w370 {
  width: 370px;
}
.w460 {
  width: 460px;
}
.w544 {
  width: 544px;
}
.w560 {
  width: 560px;
}
.h45 {
  height: 45px;
}
.h50 {
  height: 50px;
}
.h123 {
  height: 123px;
}
.h164 {
  height: 164px;
}
.h180 {
  height: 180px;
}
#fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-bottom: 1px #ddd solid;
  background-color: #fff;
  z-index: 10;
  padding: 0 40px;
}
#fixed-header .left,
#fixed-header .right {
  width: 50%;
  height: 100%;
  float: left;
}
#fixed-header .right > * {
  float: right;
}
#fixed-header h1 {
  margin: 5px;
  color: #666;
}
#fixed-header input.username {
  margin: 9px 0;
  height: 31px;
  padding: 5px 10px;
  max-width: 165px;
}
#fixed-header-shadow {
  position: relative;
  margin-bottom: 50px;
}
#page-root {
  max-width: 600px;
  min-width: 400px;
  display: block;
  margin: 0px auto;
}
.post-feed {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.new-post .new-content-view {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}
.new-post .new-content-view .fields > * {
  margin-bottom: 10px;
}
.new-post .new-content-view .submit-button-container {
  display: inline-block;
  width: 100%;
  margin-bottom: -5px;
}
.new-post .new-content-view .submit-button-container .submit-button {
  float: right;
}
.post-view {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}
.post-view .content .header {
  color: #888;
  margin-bottom: 10px;
}
.post-view .content .header .author {
  font-weight: 700;
}
.post-view .content .image img {
  max-width: 100%;
  max-width: 360px;
}
