inner-vertical-spacing = 10px
inner-horizontal-spacing = 20px
outer-vertical-spacing = 20px

post-color = #f3f3f3
page-background-color = #eee


body
  background-color: page-background-color
  padding: 20px

a
  &, &:link, &:visited, &:hover, &:active
    text-decoration: none

  &.underline
    text-decoration: underline

  &.anchor
    display: block
    position: relative
    top: -60px
    visibility: hidden

h1, p
  color: #444

img
  margin: 5px auto
  display: block
  max-width: 570px

table
  margin: 15px 0px

th, td
  padding: 0 10px

hr
  border-top: 1px solid #bbb

.text-highlight
  color: #009900

clearfix()
  &:after
    content: " "
    visibility: hidden
    display: block
    height: 0
    clear: both

.clearfix
  clearfix()


// generator of property literals, e.g. ".w33 {width: 33px}"
literal(sel, prop, val)
  num = unit(val, '')
  if unit(val) == ''
    .{sel + num}
      {prop}: val px
  else if unit(val) == 'px'
    .{sel + num}
      {prop}: val
  else if unit(val) == '%'
    .{sel + num}p
      {prop}: val

literals = ()

width-literals = 181 185 194 240 345 370 460 544 560
push(literals, {s: 'w', p: 'width', l: width-literals})

height-literals = 45 50 123 164 180
push(literals, {s: 'h', p: 'height', l: height-literals})

for lit in literals
  for val in lit.l
    literal(lit.s, lit.p, val)


#fixed-header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 50px
  border-bottom: 1px #ddd solid
  background-color: white
  z-index: 10
  padding: 0 40px

  .left, .right
    width: 50%
    height: 100%
    float: left

  .right
    > *
      float: right

  h1
    margin: 5px
    color: #666

  input.username
    margin: 9px 0
    height: 31px
    padding: 5px 10px
    max-width: 165px

#fixed-header-shadow
  position: relative
  margin-bottom: 50px


.page-view
  min-width: 840px

  .left, .right
    width: 50%
    float: left

.magic-feed
  width: 400px
  min-height: 1px

post-styling()
  margin-bottom: outer-vertical-spacing
  padding: inner-vertical-spacing inner-horizontal-spacing
  border-radius: 4px
  border: 1px solid #ccc
  background-color: post-color

.post-feed
  width: 400px
  margin-left: auto
  margin-right: auto

.new-post
  .new-content-view
    post-styling()

.new-content-view
  .fields > *
    margin-bottom inner-vertical-spacing

  .submit-button-container
    display: inline-block
    width: 100%

    // floating the button inexplicably adds 5px bottom margin, so undo it
    margin-bottom: -5px

    .submit-button
      float: right

.content-view
  .header
    color: #888
    margin-bottom: inner-vertical-spacing

    .author
      font-weight: 700

.post-view
  post-styling()

  .content
    margin-bottom: outer-vertical-spacing

    .image img
      max-width: 100%
      max-height: 360px

  .comments
    .comment-view
      margin-bottom: outer-vertical-spacing

    .image img
      max-width: 90%
      max-height: 180px
